:root {
    --mono-font: "Source Code Pro", "Fira Code", "Cascadia Code", Consolas, Menlo, "DejaVu Sans Mono", monospace;
}

.light {
    --bg: #f0f0f0;
    --sidebar-active: #20609f;
    --sidebar-header-border-color: #cbcbcb;
    --sidebar-bg: #eaeaea;
}
.on-this-page {
    border-inline-start: 0px solid var(--sidebar-header-border-color);
}

code.hljs {
    overflow-x: auto;
}

p {
    white-space: pre-wrap;
}

blockquote {
    background-color: transparent;
    border-left-color: #349fd3;
    border-left-style: solid;
    border-left-width: 2.5px;
    border-block-start: unset;
    border-block-end: unset;
    font-weight: bold;
}

/* Force to use the navbar at the bottom */

/* nav at the side */
nav.nav-wide-wrapper {
    display: none;
}

/* nav at the bottom */
nav.nav-wrapper {
    display: block;
}