:root {
    --mono-font: "Fira Code", Consolas, "Source Code Pro", "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
}

code.hljs {
    overflow-x: auto;
}

p {
    white-space: pre-wrap;
}

blockquote {
    background-color: transparent;
    border-left-color: #349fd3;
    border-left-style: solid;
    border-left-width: 2.5px;
    border-block-start: unset;
    border-block-end: unset;
    font-weight: bold;
}

/* Force to use the navbar at the bottom */

/* nav at the side */
nav.nav-wide-wrapper {
    display: none;
}

/* nav at the bottom */
nav.nav-wrapper {
    display: block;
}